google-cloud-pubsub==2.31.1
google-cloud-storage==3.3.1
google-cloud-bigquery==3.37.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
google-api-python-client==2.181.0
google-cloud-resource-manager==1.14.2
flask==3.0.0
functions-framework==3.5.0

